@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 60 5% 96%;
    --foreground: 20 14.3% 4.1%;
  }
}
body {
  @apply bg-[#FDFBF7];
}

/* Stili personalizzati per Sweetalert2 */
.swal2-popup-custom {
  padding: 1.5rem !important;
}

.swal2-html-container-custom {
  margin: 1rem 0 !important;
  padding: 0 !important;
}

.swal2-html-container-custom::-webkit-scrollbar {
  width: 8px;
}

.swal2-html-container-custom::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.swal2-html-container-custom::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.swal2-html-container-custom::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Aggiungi questi stili per il modal degli articoli */
.swal-article-popup {
    padding: 1rem;
}

.swal-article-content {
    max-height: 70vh;
    overflow-y: auto;
}

.swal-article-content img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.prose {
    font-size: 1rem;
    line-height: 1.6;
    color: #374151;
}

.prose p {
    margin-bottom: 1rem;
}